<div *ngIf="contact">
  <div class="title">
    <button mat-raised-button (click)="goBack()">Retour</button>
    <h2>{{contact.firstName}} {{contact.lastName | uppercase}}</h2>
    <p>Identifiant :{{contact.id}}</p>
  </div>
  <div *ngIf="update && !busy">
    <form [formGroup]="formContact" (ngSubmit)="save(contact.id)">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Prénom :</mat-label>
        <input matInput placeholder="{{contact.firstName}}" formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nom de famille :</mat-label>
        <input matInput placeholder="{{contact.lastName}}" formControlName="lastName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de naissance :</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Téléphone :</mat-label>
        <input matInput formControlName="telephone">
      </mat-form-field>
    </div>

      <div class="boutons">
        <button mat-raised-button (click)="update = false">Annuler</button>
        <button mat-raised-button type="submit">Valider</button>
      </div>

    </form>
  </div>

  <div *ngIf="!update">
    <button mat-raised-button (click)="update = true">Modifier les informations</button>
    <ul>
      <li>
        <span class="label">Prénom :</span> {{contact.firstName}}
      </li>
      <li>
        <span class="label">Nom de famille :</span> {{contact.lastName}}
      </li>
      <li>
        <span class="label">Date de naissance :</span> {{contact.dateOfBirth | date:'dd/MM/yyyy'}}
      </li>
      <li> <span class="label">Numéro de téléphone :</span> {{contact.telephone}}</li>
    </ul>

    <app-adresse-view></app-adresse-view>

    <button mat-raised-button color="warn" class="supprimer" (click)="delete(contact)">Supprimer ce contact</button>
  </div>



</div>

