div{
  background-color: #2f435e;
  height: 5rem;
  display: flex;
  justify-content: center;
}

h1 {
  color: #ececec;
  width: 40%;
  background-color: #44566c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}
