<h2 *ngIf="data.id">Modifier l'adresse</h2>
<h2 *ngIf="!data.id">Ajouter une adresse</h2>
<div *ngIf="!busy">
  <form [formGroup]="formAdresse" (ngSubmit)="valider()">

    <mat-form-field appearance="fill">
      <mat-label>Type d'adresse :</mat-label>
      <input matInput formControlName="typeAdresse">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Numero de voie :</mat-label>
      <input matInput formControlName="numeroVoie">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Intitulé de la voie :</mat-label>
      <input matInput formControlName="intituleVoie">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Code postal :</mat-label>
      <input matInput formControlName="codePostal">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ville :</mat-label>
      <input matInput formControlName="ville">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pays :</mat-label>
      <input matInput formControlName="pays">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Valider</button>
  </form>

</div>
