<button mat-raised-button (click)="ajouterAdresse()">Ajouter une adresse</button>
<mat-accordion>
  <mat-expansion-panel *ngFor="let adresse of adresses">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{adresse.typeAdresse}}
      </mat-panel-title>
      <mat-panel-description>
        <button mat-raised-button (click)="updateAdresse(adresse.id)">Modifier l'adresse</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{adresse.numeroVoie + ' ' + adresse.typeVoie + ' ' + adresse.intituleVoie }} <br/>
      {{adresse.codePostal + ' ' + adresse.ville}}</p>
    <button mat-raised-button class="supprimer" color="warn" (click)="delete(adresse)">Supprimer cette adresse</button>
  </mat-expansion-panel>
</mat-accordion>
